@import './theme.scss';

.container {
    padding: 0 30px;

    img {
        width: 100%;
        height: auto;
    }
}

// Mobile breakpoint
@media (max-width: $mobile-bp) {
    .container {
        padding: 0;

        p {
            max-width: 100% !important;
        }
    }
}
