@import './theme.scss';

.footer {
    @include page-layout;
    padding: 0 30px;
    margin-top: auto;
    width: calc(100% - 60px);

    .logo {
        margin-bottom: 15px;
        cursor: pointer;
    }

    a {
        color: $dark-color;
        text-decoration: none;
        transition: color 0.2s ease-in-out;

        &:hover {
            color: $accent-color;
            text-decoration: underline;
        }

        &:active {
            color: $accent-active-color;
            transform: translate(0, 0);
            box-shadow: $light-bg 0px 0px;
        }
    }

    .footer_inner {
        @include page-layout;
        padding: 60px 30px;
        // margin: 0 30px;
        display: flex;
        justify-content: space-between;

        .footer_section {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .socials {
                display: flex;
                gap: 15px;

                img {
                    min-width: 20px;
                    max-width: 20px;
                    min-height: 20px;
                    max-height: 20px;
                }
            }
        }
    }

    .copy {
        font-size: 0.8rem;
        margin-top: 60px;
        text-align: center;
    }
}

@media (max-width: $mobile-bp) {
    .footer {
        @include page-layout-mobile;
        width: calc(100% - 30px);

        margin: 60px auto;

        .footer_inner {
            flex-direction: column;
            gap: 60px;
            padding-left: 0;
            padding-right: 0;
        }
    }
}
