html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    text-rendering: optimizeSpeed;
    background-color: #1d1d1d;
    color: #fff;
    font-family: 'Ubuntu Mono Regular', monospace;
    font-size: 1rem;
}

h1,
h2,
h3,
h4 {
    font-family: 'Inter Black', sans-serif;
    color: #f2f2f2;
    line-height: 110%;
}

p {
    line-height: 120%;
}

input {
    font-family: 'Ubuntu Mono Regular', monospace;
    font-size: 1rem;
    outline: none;
}

#accent {
    color: #67cda8;
}

#black-btn {
    background-color: #1d1d1d;
    color: #fff;
}

#black-btn:hover {
    transform: none;
    box-shadow: none;
    background-color: #fff;
    color: #1d1d1d;
}

::-moz-selection {
    /* Code for Firefox */
    color: #fff;
    background: #67cda8;
}

::selection {
    color: #fff;
    background: #67cda8;
}
