html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    text-rendering: optimizeSpeed;
    background-color: #1d1d1d;
    color: #fff;
    font-family: 'Ubuntu Mono Regular', monospace;
    font-size: 1rem;
}

h1,
h2,
h3,
h4 {
    font-family: 'Inter Black', sans-serif;
    color: #f2f2f2;
    line-height: 110%;
}

h3 {
    font-size: 1rem;
    text-decoration: underline;
}

p {
    line-height: 120%;
}

input,
textarea {
    font-family: 'Ubuntu Mono Regular', monospace;
    font-size: 1rem;
    outline: none;
}

main {
    min-height: 100vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
}

a {
    color: #67cda8;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

a:hover {
    color: #15ee9f;
    text-decoration: underline;
}

code {
    background: #232323;
    padding: 15px;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 0.8rem;
}

.center-me {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-me span {
    border-radius: 0 !important;
}

#about-me {
    margin-top: 90px;
    margin-bottom: 30px;
}

#error {
    color: firebrick;
}

#post-content {
    margin-top: 60px;
}

#post-content h1,
.ql-editor h1 {
    font-size: 1.5rem !important;
}

#post-content h2,
.ql-editor h2 {
    font-size: 1rem !important;
}

#post-content p {
    font-size: 1rem;
}

.ql-editor h1,
.ql-editor h2 {
    color: #fff;
}

#header-img {
    margin-top: 60px;
    margin-bottom: 0px;
}

#admin-margin {
    margin: 30px auto;
}

#col-3 {
    max-width: 66%;
}

#accent {
    color: #67cda8;
}

#black-btn {
    background-color: #1d1d1d;
    color: #fff;
}

#black-btn:hover {
    transform: none;
    box-shadow: none;
    background-color: #15ee9f;
    color: #1d1d1d;
}

.flex-downline {
    max-width: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.flex-inline {
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: flex-end;
}

.not-found {
    padding-top: 100px;
    padding-bottom: 100px;
    /* background-color: red; */
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

::-moz-selection {
    /* Code for Firefox */
    color: #fff;
    background: #67cda8;
}

::selection {
    color: #fff;
    background: #67cda8;
}

/* Quill Styling TODO: Move to another location, wasted loading here for clients */
.quill {
    width: calc(100% + 2px);
    background-color: #343434;
    color: #fff;
}

.ql-toolbar {
    border-color: #1d1d1d !important;
}

.ql-container {
    border-color: #1d1d1d !important;
}

.ql-container:hover {
    border-color: #15ee9f;
}

.ql-snow .ql-stroke {
    stroke: #939393 !important;
}

.ql-snow .ql-fill {
    fill: #939393 !important;
}

.ql-snow.ql-toolbar button:hover {
    background-color: #15ee9f;
}

.ql-editor {
    color: #fff;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1rem;
    min-height: 600px;
}

.quill-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.quill-field label {
    font-size: 0.8rem;
    font-weight: bold;
}

.image-gallery p {
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.center-img p {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.center-img p img {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* CSS for the table */
table {
    width: fit-content;
    border-collapse: collapse;
    background-color: #343434; /* Light grey background color */
    margin-bottom: 60px;
}

table,
th,
td {
    border: 1px solid #d3d3d3; /* Light grey outlines */
    padding: 15px; /* Add some padding around content */
}

/* Optional: Center align text in table cells */
th,
td {
    text-align: center;
}
