@import './theme.scss';

.input_wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;

    label {
        font-size: 0.8rem;
        font-weight: bold;
    }

    input {
        -webkit-appearance: none;
        border-radius: 0;
        padding: 15px 15px;
        color: $light-bg;
        background-color: $dark-alt-bg;
        border: 1px solid $dark-alt-bg;
        transition: all 0.2s ease-in-out;

        &:hover {
            border: 1px solid$accent-active-color;
        }
    }
}
