@import './theme.scss';

.list_wrapper {
    padding: 0px 30px;
}

.list_list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.read_more {
    align-self: center;
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 30px;
}

// // In tablet view
// @media (max-width: $tablet-bp) {
//     .list_list {
//         // grid-template-columns: repeat(2, 1fr);
//     }
// }

// In mobile view
@media (max-width: $mobile-bp) {
    .list_wrapper {
        padding: 0 0;
    }

    // .list_list {
    //     // grid-template-columns: repeat(1, 1fr);
    // }
}
